<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 	http://www.springframework.org/schema/aop
 	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
 		<!-- 1、目标类 -->
 		<bean id="userDao" class="com.jdk.UserDaoImpl"/>
 		<!-- 2、切面 -->
 		<bean id="myAspext" class="com.aspectJ.xml.MyAspect"/>
 		<!-- 3、aop编程 -->
 		<aop:config>
 			<!-- 配置切面 -->
 			<aop:aspect ref="myAspext">
 				<!-- 3.1配置切入点，通知最后增强哪些方法 -->
 				<!-- 第一*与包路径有空格，第一个*表示是任意类，第二个*任意方法，（..）任何参数 -->
 				<aop:pointcut expression="execution(* com.jdk.*.*(..))" id="myPointCut"/>
 				<!-- 3.2关联通知Advice和切入点poinCut -->
 				<!-- 3.2.1 前置通知 -->
 				<aop:before method="myBefore" pointcut-ref="myPointCut"/>
 				<!-- 3.2.2 后置通知，在方法返回之后执行，就可以获得返回值 -->
 				<aop:after-returning method="myAfterReturn" pointcut-ref="myPointCut" returning="returnVal"/>
 				<!-- 环绕通知 -->
 				<aop:around method="myAround" pointcut-ref="myPointCut"/>
 				<!-- 异常通知 -->
 				<aop:after-throwing method="myAfterThrow" pointcut-ref="myPointCut" throwing="e"/>
 				<!-- 最终通知 -->
 				<aop:after method="myAfter" pointcut-ref="myPointCut"/>
 			</aop:aspect>
 			
 		</aop:config>
 	</beans>