<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<!-- 目标秀 -->
	<bean id="userDao" class="com.jdk.UserDaoImpl"/>
	<!-- 切面类 -->
	<bean id="myAspect" class="com.factoryBean.MyAspect"/>
	<!-- 使用Spring代理工厂定义代理对象 -->
	<bean id="userDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 指定代理实现的接口 -->
		<property name="proxyInterfaces" value="com.jdk.UserDao"/>
		<!-- 指定目标对象 -->
		<property name="target" ref="userDao"/>		
		<!-- 指定切面，植入环绕通知 -->
		<property name="interceptorNames" value="myAspect"/>	
		<!-- 指定代理方式:true：使用cglib，false(默认):jdk动态代理 0-->
		<property name="proxyTargetClass" value="true"/>
	</bean>
</beans>
