<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 表示命名空间  通常会设置成：包名+SQL映射文件名-->
 <mapper namespace="com.mapper.ProductMapper">
	<!-- 嵌套查询：通过执行另一条sql映射语句来返回预期的特殊类型 -->
	<select id="findProductById" parameterType="Integer" resultType="product">
			select * from tb_product where id in(
			select product_id from tb_ordersitem where orders_id=#{id}
		)
	</select>
 </mapper>